1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i.
WAP to add 200 and 300 to L.
ii.
iii.
iv.
WAP to remove 10 and 30 from L.
WAP to sort L in ascending order.
WAP to sort L in descending order.

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)

L.sort()
print("List in ascending order:", L)


L.sort(reverse=True)
print("List in descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i.
ii.
iii.
iv.
Identify the highest score and its index in the tuple.
Find the lowest score and count how many times it appears.
Reverse the tuple and return it as a list.
Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying itâ€™s not present.

In [2]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest score: {highest_score} at index {highest_index}")

lowest_score = min(scores)
count_lowest = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {count_lowest}")

reversed_scores = list(reversed(scores))
print("Reversed tuple as a list:", reversed_scores)

user_score = float(input("Enter a score to search: "))
if user_score in scores:
    print(f"Score {user_score} is present at index {scores.index(user_score)}")
else:
    print(f"Score {user_score} is not present in the tuple.")

Highest score: 92 at index 5
Lowest score: 45, Count: 2
Reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to search: 76
Score 76.0 is present at index 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i.
ii.
iii.
All odd numbers
All even numbers
All prime numbers

In [3]:
import random
random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print(f"Count of odd numbers: {len(odd_numbers)}")

even_numbers = [num for num in random_numbers if num % 2 == 0]
print(f"Count of even numbers: {len(even_numbers)}")

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print(f"Count of prime numbers: {len(prime_numbers)}")

Count of odd numbers: 44
Count of even numbers: 56
Count of prime numbers: 11

4. Consider the following two sets, A and B, represen ng scores of two teams in mul ple
matches.  A = {34, 56, 78, 90}  and B = {78, 45, 90, 23}
WAP to perform the following opera ons using set func ons:
i.
Find the unique scores achieved by both teams (union of sets).
ii.
iii.
iv.
v.
Iden fy the scores that are common to both teams (intersec on of sets).
Find the scores that are exclusive to each team (symmetric difference).
Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [4]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_scores = A | B
print("Unique scores (Union of A and B):", union_scores)

intersection_scores = A & B
print("Common scores (Intersection of A and B):", intersection_scores)

symmetric_diff_scores = A ^ B
print("Exclusive scores (Symmetric difference):", symmetric_diff_scores)

is_A_subset_B = A.issubset(B)
print("Is team A's scores a subset of team B?", is_A_subset_B)

is_B_superset_A = B.issuperset(A)
print("Is team B's scores a superset of team A?", is_B_superset_A)

score_to_remove = int(input("Enter a score to remove from set A: "))
if score_to_remove in A:
    A.remove(score_to_remove)
    print(f"Score {score_to_remove} removed from set A.")
else:
    print(f"Score {score_to_remove} is not present in set A.")

Unique scores (Union of A and B): {34, 45, 78, 23, 56, 90}
Common scores (Intersection of A and B): {90, 78}
Exclusive scores (Symmetric difference): {34, 45, 23, 56}
Is team A's scores a subset of team B? False
Is team B's scores a superset of team A? False
Enter a score to remove from set A: 56
Score 56 removed from set A.

5. Write a program to rename a key city to a loca on in the following dic onary.

In [5]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Rename key 'city' to 'location'
sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}